@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('https://static.vecteezy.com/system/resources/previews/008/143/644/non_2x/seamless-pattern-with-gaming-icons-free-vector.jpg');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
nav{
    background:#505151;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
@media (max-width: 450px){
    label.logo{
        font-size: 29px;
    }
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    background: #fff;
    width: 400px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.flex-box .img1{
    height: 400px;
    width: 100%;
    background: url('http://cdn.shopify.com/s/files/1/2099/9697/products/Kvalitetstid_no-Fire-pa-rad-Gigantspill-Uber-Games.jpg?v=1650536039');
    border-radius: 5px;
    background-size: cover;
}
.flex-box .img2{
    height: 400px;
    width: 100%;
    background: url('https://www.patticrafts.co.uk/wp-content/uploads/2022/06/K486-2.jpg');
    border-radius: 5px;
    background-size: cover;
}
.flex-box .img3{
    height: 400px;
    width: 100%;
    background: url('https://upload.wikimedia.org/wikipedia/en/0/0a/Flappy_Bird_icon.png');
    border-radius: 5px;
    background-size: cover;
}

.card a{
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background: #bbbbbb;
    border-radius: 4px;
    color: #24262b;
    text-decoration: none;
    font-size: 20px;
}

@media(max-width: 881px){
    .card{
        width: 320px;
    }
    .flex-box .img1{
        height: 320px;
    }
    .flex-box .img2{
        height: 320px;
    }
    .flex-box .img3{
        height: 320px;
    }
    .flex-box .img4{
        height: 320px;
    }
    .flex-box .img5{
        height: 320px;
    }
}

.footer .container{
    max-width: 1170px; 
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}  
.footer-col .ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0px ;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative; 
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/* responsive */

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
}
}
