body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    animation: bgcolor infinite 30s;
}




#board {
    height: 540px;
    width: 630px;
    background-color: #E6BF83;
    border: 10px solid black;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid black;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
    margin: 5px;
}
span{
    font-size: 40px;
}


@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(720deg);
    }
}

@media only screen and (max-width: 730px) {
    #board{
        height: 50vh;
        width: 70vw;
    }
    .tile {
        height: 7%;
        max-height: 40px;
        width: 8%;
        max-width: 40px;
        margin: 1.2%;
    }
    .score {
        font-size: 30px;
        margin-left: 25%;
        width: 50%;
    }
}



