body{
    margin: 0;
    background-image: linear-gradient(
    rgb(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0.2)),
    url("bakgrunn.jpeg")
    
}
    
    
.boks{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    margin-top: 100px;
    padding: 15px 0;
    background-color:deepskyblue;
    border-radius: 50px;
    border: 3px solid black;
    font-weight: 20x;
    
}

header nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(143, 241, 241);

}

header nav a{
    padding: 20px;
    text-decoration: none;
    color: black;
}

header nav a:hover{
    background-color: rgb(245, 175, 187);
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}